#intro{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(52, 7, 39);
}
body{
    background: rgb(248, 240, 246);
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(52, 7, 39);
    word-wrap: break-word;
    line-height: 1.5;
}
#text{
    height: 100px;
    width: 700px;
    margin: auto;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
a{
    text-decoration: none;
}
.main{
    color: rgb(11, 18, 42);
    font-size: x-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    font-weight: bold;
}
.week1{
    margin-top: 40px;
    margin-left: 100px;
    width: 100px;
    height: 60px;
    float: left;
    text-align: left;
    font-size: x-large;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}
.week2{
    margin-top: 40px;
    margin-left: 55px;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}
.week3{
    margin-top: 40px;
    margin-left: 55px;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}
.week4{
    margin-top: 40px;
    margin-left: 55px;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}
.week5{
    margin-top: 40px;
    margin-left: 55px;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}
.week6{
    margin-top: 40px;
    margin-left: 55px;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}
.week7{
    margin-top: 40px;
    margin-left: 55px;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}
.week8{
    margin-top: 40px;
    margin-left: 55px;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}
.week9{
    margin-top: 50px;
    margin-left: 107px;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}
.week10{
    margin-top: 50px;
    margin-left: 55px;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}
.week11{
    margin-top: 50px;
    margin-left: 55px;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}
.week12{
    margin-top: 50px;
    margin-left: 55px;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}
.week13{
    margin-top: 50px;
    margin-left: 55px;
    width: 100px;
    height: 60px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgb(17, 16, 53);
    background: rgb(205, 227, 243);
}