#intro{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(52, 7, 39);
}
body{
    background: rgb(248, 240, 246);
}
p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(52, 7, 39);
    word-wrap: break-word;
    line-height: 1.5;
}
#text{
    height: 100px;
    width: 700px;
    margin: auto;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}